@model IEnumerable<MaNguonMo.Models.Student>

@{
    ViewData["Title"] = "Sanh sách Sinh viên";
}

<h1>Danh sách Sinh viên</h1>

<p>
    <a asp-action="Create">+Thêm Sinh viên</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentID">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.StudentID">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentID">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
